h1{
	text-align: center;
	color: black;
	font-size: 50px;
	font-weight:bold;
}
h2{
	text-align: center;
	color: black;
	font-weight:bold;
}
p.cont{
	text-align: center;
	color: black;
	font-size: 25px;
	
}
#footer{
	background-color: black;
}